/*-------------------------------------------  New CSS -------------------------------------------------------*/

/*-------------------------------------------  Header */

#logo {
	font-family: Myriad Pro;
	font-size: 22px;
	text-align: center;
}

#logo a {
	text-decoration: none;
	color: #000;
}

#searchicon {
	position: relative;
	bottom: 29px;
	left: 240px;
}

#notification {
	position: relative;
	bottom: 29px;
	left: 1100px;
}

#search {
	position: relative;
	bottom: 52px;
	left: 285px;
}

/*-------------------------------------------  Navigation */

nav li {
	display: inline;
	margin-right: 15px;
}

nav li a {
	color: #000;
}



/*-------------------------------------------  Featured */

#topRow li{
	display: inline;
}

#bottomRow li {
	display: inline;
}

/*-------------------------------------------  Feed */

.desc img {
	float: left;
	margin-right: 10px;
}

.desc p {
	position: relative;
	left: 75px;
}

.desc {
	margin: 20px;
	margin-bottom: 60px;
}

.tag {
	text-align: left;
	font-size: 12px;
	position: relative;
	left: 75px;
	margin: 2px;
}

.pagination li {
	display: inline;
	font-size: 12px;
	position: relative;
	left: 55px;
	letter-spacing: 15px;
}

.pagination li a {
	text-decoration: none;
}

/*-------------------------------------------  Related */

#related {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

#rmain {
	float: left;
	width: 33%;
}

#r1 {
	float: right;
	width: 33%;
	margin-top: 68px;
}

#r2 {
	float: right;
	width: 33%;
	margin-top: 68px;
}


/*-------------------------------------------  Popular */

#popular {
	width: 20%;
	border: solid 1px #000;
	font-size: 13px;
}

#popular p {
	font-size: 10px;
	position: relative;
	left: 120px;
}

#plist li {
	padding: 5px;
	border-bottom: solid 1px #000;
	width: 90%;
}

.score {
	position: relative;
	left: 150px;
	background-color: #F0F0F5;
	padding: 5px;
}

#numberOne {
	background-color: #4C4C4C;
	color: #fff;
}

/*-------------------------------------------  Signup */

#social {
	float: left;
	width: 50%;
}

#rbutton {
	position: relative;
	left: 778px;
	top: 10px;
}

/*-------------------------------------------  Meet */

.columna {
	float: left;
	width: 50%;
}

.columnb {
	float: right;
	width: 50%;
}

.meetport {
	float: left;
	margin-right: 5px;
}

.position {
	position: relative;
	left: 85px;
}


/*-------------------------------------------  Footer */

li {
	list-style-type: none;
}

.footerlist {
	width: 10%;
	float: left;
}

.footerlist li {
	position: relative;
	right: 38px;
}



/*-------------------------------------------  Old CSS -------------------------------------------------------*/

/*-------------------------------------------  general -------------------------------------------------------*/
body{
	font-size: 55%;
	font-family: Century Schoolbook;
	color:#545257; /*changes color of the whole text*/
	margin-top: 0;
	background-color: #fff;
}

/*-------------------------------------------  header -------------------------------------------------------*/

header{
	border-bottom: 1px solid #bbb8bf; /*changes color of border under project name*/
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
h1{
	margin-top: 0;
	padding-top: 10px;
	color: #823D1C;
	font-size: 25px;
}

h2 {
	font-size: 20px;
	margin-top: 20px;
	text-align: center;
}

h3 {
	font-size: 16px;
}

.desc-title {
	margin-top: 20px;
	text-align: center;
	color: #823D1C;
	font-size: 20px;
}
/*-------------------------------------------  table -------------------------------------------------------*/
table{
	background: #FFFFEA;  /*changes color of the background of the table*/
	border-collapse: collapse;
	width: 100%;
}
tr{
	display: table-row;
	border-color: inherit;
}
.odd{
	background: #FFF3E4; /*changes color of the stripes table*/
}
th{
	text-align: left;
	padding: 1em 1em .5em;
	font-weight: bold;
	font-size: 120%;
	color: #545257;  /*changes color of table hd text*/
	background: #bbbcc0; /*changes color of table hd background*/
}
th:first-child{
	/*border-right: 1px solid #6a7680;*/
}
td{
	padding: 1em 1em;
	width: 69%;
}
td:first-child{
	/*border-right: 1px solid #6a7680;*/
}
/*-------------------------------------------  top section-------------------------------------------------------*/
.main{

	overflow: auto;
	/*border-bottom: 1px solid #bbb8bf;*/
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.description {
	width: 50%;
	font-size: 1.4em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.main figure{
	margin-left: auto;
	margin-right: auto;
	width: 30%;

}
#me {
	width: 100%;
	border: 2px solid black;
	box-shadow: 2px 2px 5px #888888;
}

.component {
	border: 1px solid black;
	box-shadow: 2px 2px 5px #888888;
}

.sec{
	clear: both;
	margin-top: 40px;
	
}

figcaption {
	text-align: center;
	margin-top: 5px;
	color: #C2773B;
}

.textborder {
	width: 55%;
}

p {
	font-size: 1.4em;
}

/*-------------------------------------------  links -------------------------------------------------------*/

}
/*-------------------------------------------  footer-------------------------------------------------------*/
footer{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	text-align: center;
	width: 90%;
	color: #C2773B;
}

